body {
    background:url('https://images.unsplash.com/photo-1561034646-e37eb9c48abd?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.card {
    width: 300px;
    height: 400px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    position: relative;
    background-image: radial-gradient(Circle,goldenrod, white, rgba(255, 0, 0, 0.192));
    border-radius: 15px;
    margin: 125px;
    box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;

}
.suit {
    font-size: 50px;
    position: absolute;
}
#top-left-suit {
    left: 10px;
    top: 10px;
}
#bottom-right-suit{
    right: 10px;
    bottom: 10px;
    transform: rotate(180deg);
}
.card-value {
    font-size: 75px;
}
.generate-button {
    margin-top: 10px;
    font-size: 18px;
    position: absolute;
    bottom: 325px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    background-color: rgb(253, 65, 65);
}
.heart-suit, .diamond-suit {
    color: red;
}
.red-value {
    color:red;
}
